/*smartphone*/
@media (max-width:480px){
    /* Estilos Globales */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        height: 100vh;
        width: 100%;
        background-image: url(../imagenes/fondo-homee.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    /* ESTRUCTURA GRID */
    #grid-area{
        display: grid;
        grid-template-areas: 
        "cabeza" 
        "esqueleto"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto;
    }
    /* ESTILOS ESPECIFICOS */
    .home{
        #cabeza{
            grid-area:cabeza;
            display: flex;
            flex-flow: column nowrap;
            .div-paginas{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                margin-top: 20px;
                .vinculo-paginas{
                    font-size: 16px;  
                    color: white;   
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    text-decoration: none;
                    margin: 10px;
                    &:visited{
                        text-decoration: none;
                    }
                }  
            }                                   
        }
        #esqueleto{
            grid-area: esqueleto;
            .caja-esqueleto{
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                h1{
                    font-family: 'Rozha One';
                    font-size: 50px;
                    color: white;
                }
                .vinculo-producto{
                    font-size: 30px;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                }
            }
        }   
        #pie{
            grid-area: pie;
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .pie{
                color: white;
                font-size: 12px;
            }
            .caja-redes{
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                .lista-redes{
                    margin: 10px 15px 13px 0px;
                    .lista{
                        list-style: none;
                        display: inline;
                        text-decoration: none;
                        a{
                           text-decoration: none;
                        }
                        .redes{
                            width: 20px;
                            margin: 5px;
                        }
                    }
                }
            }
        } 
    }
}


/*tablet*/
@media (min-width:481px) and (max-width:1023px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        height: 100vh;
        width: 100%;
        background-image: url(../imagenes/fondo-homee.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    /* ESTRUCTURA GRID */
    #grid-area{
        display: grid;
        grid-template-areas: 
        "cabeza" 
        "esqueleto"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto;
    }
    /* ESTILOS ESPECIFICOS */
    .home{
        #cabeza{
            grid-area:cabeza;
            display: flex;
            flex-flow: column nowrap;
            .div-paginas{
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                margin-top: 20px;
                .vinculo-paginas{
                    font-size: 16px;  
                    color: white;   
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    text-decoration: none;
                    margin: 10px;
                    &:visited{
                        text-decoration: none;
                    }
                }  
            }                                   
        }
        #esqueleto{
            grid-area: esqueleto;
            .caja-esqueleto{
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                h1{
                    font-family: 'Rozha One';
                    font-size: 50px;
                    color: white;
                }
                .vinculo-producto{
                    font-size: 30px;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                }
            }
        }   
        #pie{
            grid-area: pie;
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .pie{
                color: white;
                font-size: 12px;
            }
            .caja-redes{
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                .lista-redes{
                    margin: 10px 15px 13px 0px;
                    .lista{
                        list-style: none;
                        display: inline;
                        text-decoration: none;
                        a{
                           text-decoration: none;
                        }
                        .redes{
                            width: 20px;
                            margin: 5px;
                        }
                    }
                }
            }
        } 
    }
}


/*desktop*/
@media (min-width:1024px){
    /* ESTILOS GLOBALES */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    body{
        height: 100vh;
        width: 100%;
        background-image: url(../imagenes/fondo-homee.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    /* ESTRUCTURA GRID */
    #grid-area{
        display: grid;
        grid-template-areas: 
        "cabeza" 
        "esqueleto"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto;
    }
    /* ESTILOS ESPECIFICOS */
    .home{
        #cabeza{
            grid-area:cabeza;
            display: flex;
            flex-flow: column nowrap;
            .div-paginas{
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                margin:20px;
                .vinculo-paginas{
                    font-size: 18px;  
                    color: white;   
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    text-decoration: none;
                    margin: 10px;
                    &:visited{
                        text-decoration: none;
                    }
                }  
            }                                   
        }
        #esqueleto{
            grid-area: esqueleto;
            .caja-esqueleto{
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                h1{
                    font-family: 'Rozha One';
                    font-size: 100px;
                    color: white;
                }
                .vinculo-producto{
                    font-size: 30px;    
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                }
            }
        }   
        #pie{
            grid-area: pie;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .pie{
                color: white;
                font-size: 12px;
                width: 70%;
                margin-top: 34px;
                margin-left: 530px;
            }
            .caja-redes{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                .lista-redes{
                    margin: 20px 15px 13px 0px;
                    .lista{
                        list-style: none;
                        display: inline;
                        text-decoration: none;
                        a{
                           text-decoration: none;
                        }
                        .redes{
                            width: 25px;
                            margin: 5px;
                        }
                    }
                }
            }
        }    
    }
}