@charset "UTF-8";
/* **********SMARTPHONE********** */
@media (max-width: 480px) {
  /*ESTILOS GLOBALES*/
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
  }

  /*ESTILOS ESPECÍFICOS*/
  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px 10px 50px 20px;
  }
  header .titulo {
    font-family: "Rozha One";
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  header .titulo a:visited {
    text-decoration: none;
  }
  header .nav {
    margin-top: 13px;
    margin-bottom: -20px;
  }
  header .nav .link {
    font-size: 17px;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    margin-left: 10px;
  }
  header .nav .link:visited {
    text-decoration: none;
  }

  main iframe {
    margin-top: 30px;
  }
  main #esqueleto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  main #esqueleto .direccion {
    margin-top: 20px;
    font-size: 13px;
  }

  #pie {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 200px;
  }
  #pie .pie-pagina {
    color: black;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }
}
/* **********TABLES********** */
@media (min-width: 481px) and (max-width: 1023px) {
  /*ESTILOS GLOBALES*/
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
  }

  /*ESTILOS ESPECÍFICOS*/
  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px 10px 50px 20px;
  }
  header .titulo {
    font-family: "Rozha One";
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  header .titulo a:visited {
    text-decoration: none;
  }
  header .nav {
    margin-top: 13px;
    margin-bottom: -20px;
  }
  header .nav .link {
    font-size: 17px;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    margin-left: 10px;
  }
  header .nav .link:visited {
    text-decoration: none;
  }

  main iframe {
    margin-top: 30px;
  }
  main #esqueleto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  main #esqueleto .direccion {
    margin-top: 20px;
    font-size: 13px;
  }

  #pie {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 200px;
  }
  #pie .pie-pagina {
    color: black;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }
}
/* **********DESKTOP********** */
@media (min-width: 1024px) {
  /*ESTILOS GLOBALES*/
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  /* ESTILOS ESPECÍFICOS */
  header {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 10px 50px 20px;
  }
  header .titulo {
    font-family: "Rozha One";
    text-decoration: none;
    color: black;
    font-size: 30px;
  }
  header .titulo a:visited {
    text-decoration: none;
  }
  header .nav {
    margin-top: 10px;
    margin-left: 80px;
  }
  header .nav .link {
    font-size: 20px;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    margin: 10px;
  }
  header .nav .link:visited {
    text-decoration: none;
  }

  #esqueleto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #esqueleto .direccion {
    margin-top: 20px;
  }

  #pie {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 57px;
  }
  #pie .pie-pagina {
    color: black;
    font-size: 12px;
  }
}

/*# sourceMappingURL=ubicacion.css.map */
